.main {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "queue"
  ;
  grid-template-rows: max-content auto;
}

@media (min-width: 768px) {
  .main {
    grid-template-areas:
      "header header"
      "queue homes";
    grid-template-columns: repeat(2, 1fr);
  }
}

.header {
  display: grid;
  align-items: center;
  width: 100%;
  background: #FFF;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  grid-area: header;
  padding: 30px;
  z-index: 10;
}

.queue {
  padding: 30px;
  display: grid;
  grid-gap: 30px;
  grid-area: queue;
  overflow-y: auto;
  padding-bottom: 150px;
  align-content: flex-start;
}

.homes {
  padding: 30px;
  display: grid;
  list-style: none;
  grid-area: queue;
  overflow-y: auto;
  padding-bottom: 150px;
  grid-gap: 30px;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.home {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .homes, .queue {
    opacity: 0;
    z-index: -1;
  }

  .homesActive, .queueActive {
    opacity: 1;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .homes {
    background: #FFF;
    box-shadow: -4px 0px 20px rgba(0, 0, 0, 0.05);
    grid-area: homes;
    margin-top: -30px;
    padding: 60px 30px 30px;
  }

  .queue {
    padding-bottom: 180px;
  }
}

.message {
  padding: 30px;
  width: 75%;
  max-width: 420px;
}

.message-system {
  background: #FFF;
  border-radius: 3px 15px 15px 15px;
}

.message-user {
  background: #0075C9;
  justify-self: flex-end;
  border-radius: 15px 15px 3px 15px;
  color: #FFF;
}

.chat {
  grid-area: queue;
  margin-top: auto;
  z-index: 10;
  background: #FFF;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px 30px 0px 0px;
  padding: 20px 30px 30px;
}

@media (min-width: 768px) {
  .chat {
    margin: auto 30px 30px;
    border-radius: 30px;
    padding: 30px;
  }
}

.navigation {
  list-style: none;
  display: grid;
  align-items: flex-start;
  justify-content: space-around;
  grid-auto-flow: column;
  width: 100%;
}

@media (min-width: 768px) {
  .navigation {
    display: none;
  }
}

.tabButton {
  background: transparent;
  border: none;
  display: grid;
  grid-gap: 4px;
  padding-bottom: 15px;
}

.tabButton::after {
  content: '';
  display: block;
  height: 2px;
  background: #0075C9;
  margin: auto;
  width: 0;
  transition: width .2s ease-in-out;
}

.tabButtonActive::after {
  width: 15px;
}

.form {
  width: 100%;
  position: relative;
  margin-bottom: -2px;
}

.textarea {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background: rgba(0, 0, 0, .05);
  height: 56px;
  resize: none;
}

.send {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}